<h1>Leads</h1>

<%= turbo_frame_tag "new_lead" do %>
  <%= link_to "New Lead", new_lead_path, class: "btn btn-primary mb-3" %>
<% end %>

<%= turbo_stream_from "leads" %>

<div id="leads">
  <%= render @leads %>
</div>